module.exports = {
  client_id: XXXXXXXXXXXXXXXXX,
  client_secret: XXXXXXXXXXXXX,
  maxPosts: 8,
  refreshTime: 10000, //2s
  groups: [
    {
      name: 'JS News',
      id: '217169631654737'
    },
    {
      name: 'JS News: After hours',
      id: '257881290932879'
    },
    {
      name: 'JS News: Jobs',
      id: '192228117567250'
    }
  ],
  theme: {
    main: 'magenta',
    second: 'yellow',
    disable: 'grey'
  }
};