module.exports = {
  client_id: XXXXXXXXXXXXXXXXX,
  client_secret: XXXXXXXXXXXXX,
  maxPosts: 8,
  groups: [
    '217169631654737', //JSNEWS
    '257881290932879', //JSNEWS:After hours
    'jsjobs' // JSNEWS:Jobs
  ]
}
